
* {
  box-sizing: border-box;
}

body, #root {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  padding: 16 px;
  align-items: center; /*cross access */
  justify-content: center; /* flex access (left, right) */
  height: 100%;
}

.content {
  width: clamp(360px, 50%, 760px);

}